In [203]:
# Importações básicas
import os
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import DataFrame
from pyspark.sql import functions as F
from pyspark.sql.functions import *
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType, DateType
from datetime import date, timedelta, datetime
import random
import calendar
from dateutil.relativedelta import relativedelta
import locale
import logging

In [204]:
logging.basicConfig(level=logging.INFO, filename="teste.log")

In [205]:
# Lista de clientes
nome_cliente = [
    "Ana", "João", "Maria", "Pedro", "Júlia", "Lucas", "Larissa", "Gabriel", "Beatriz", "Felipe", "Clara",
    "Daniel", "Laura", "Rafael", "Mariana", "Gustavo", "Luísa", "Henrique", "Sofia", "Matheus", "Isabella",
    "Bruno", "Alice", "Thiago", "Helena", "Rodrigo", "Giovanna", "Eduardo", "Rafaela", "Leonardo", "Nicole",
    "Caio", "Vitória", "André", "Fernanda", "Diego", "Yasmin", "Guilherme", "Letícia", "Vinícius", "Camila",
    "Igor", "Valentina", "Otávio", "Bianca", "Enzo", "Lorena", "Alex", "Elisa", "Murilo", "Vitória", "Samuel",
    "Gabriela", "Arthur", "Evelyn", "Miguel", "Marina", "Renan", "Tainá", "Jorge", "Juliana", "Samuel",
    "Melissa", "Raul", "Camila", "Levi", "Carolina", "Nathan", "Cecília", "Lucas", "Amanda", "Benjamin",
    "Lívia", "Heitor", "Bruna", "Davi", "Talita", "Theo", "Maíra", "Tomás", "Ana Clara", "Vicente", "Isadora",
    "Alexandre", "Sabrina", "Emerson", "Thaís", "Renata", "Otávio", "Priscila", "Eduardo", "Natália", "Jonas",
    "Aline", "Cristiano", "Patrícia", "Vicente", "Elisa"
]

# Lista de estados e cidades
estado_cidade = {
    "AC": ["Rio Branco", "Cruzeiro do Sul", "Sena Madureira"],
    "AL": ["Maceió", "Arapiraca", "Palmeira dos Índios"],
    "AP": ["Macapá", "Santana", "Laranjal do Jari"],
    "AM": ["Manaus", "Parintins", "Itacoatiara"],
    "BA": ["Salvador", "Feira de Santana", "Vitória da Conquista"],
    "CE": ["Fortaleza", "Caucaia", "Juazeiro do Norte"],
    "DF": ["Brasília"],
    "ES": ["Vitória", "Vila Velha", "Serra"],
    "GO": ["Goiânia", "Anápolis", "Aparecida de Goiânia"],
    "MA": ["São Luís", "Imperatriz", "Timon"],
    "MT": ["Cuiabá", "Várzea Grande", "Rondonópolis"],
    "MS": ["Campo Grande", "Dourados", "Três Lagoas"],
    "MG": ["Belo Horizonte", "Uberlândia", "Contagem"],
    "PA": ["Belém", "Ananindeua", "Santarém"],
    "PB": ["João Pessoa", "Campina Grande", "Santa Rita"],
    "PR": ["Curitiba", "Londrina", "Maringá"],
    "PE": ["Recife", "Jaboatão dos Guararapes", "Olinda"],
    "PI": ["Teresina", "Parnaíba", "Picos"],
    "RJ": ["Rio de Janeiro", "Niterói", "Duque de Caxias"],
    "RN": ["Natal", "Mossoró", "Parnamirim"],
    "RS": ["Porto Alegre", "Caxias do Sul", "Pelotas"],
    "RO": ["Porto Velho", "Ji-Paraná", "Ariquemes"],
    "RR": ["Boa Vista", "Rorainópolis", "Caracaraí"],
    "SC": ["Florianópolis", "Joinville", "Blumenau"],
    "SP": ["São Paulo", "Campinas", "São Bernardo do Campo"],
    "SE": ["Aracaju", "Nossa Senhora do Socorro", "Lagarto"],
    "TO": ["Palmas", "Araguaína", "Gurupi"]
}

# Lista de produtos eletrônicos
produtos = ["Smartphone", "Notebook", "Tablet", "Monitor", "Fone de Ouvido", "Smartwatch", "Câmera", "Impressora", "Caixa de Som", "Roteador"]

In [206]:
print(len(nome_cliente))
print(len(estado_cidade))
print(len(produtos))

98
27
10

In [207]:
def gerardados(nome_cliente, estado_cidade, produtos):

    vendas = []
        
# Gera dados para número do pedido e código do cliente
    for dados in range(1,101):

        nrpedido = dados
        codcliente = random.randint(1, 100)  
        cliente = random.choice(nome_cliente)      
        qtd =  random.randint(1, 100)
        produto = random.choice(produtos)
        custo = float(random.uniform(1, 100))
        valor_venda = float(qtd * (custo * random.uniform(1.5, 8.0))) # Escolhe uma margem de lucro entre 1.5 e 8.0.
        data_inicial = date.today() - relativedelta(years=5)  # Captura a data atual e subtrai 5 anos.
        data_final = date.today()
        # Listando o período de data inicial e data final
        datas = [data_inicial + timedelta(days=i) for i in range((data_final - data_inicial).days + 1)]
        data = random.choice(datas)

        uf = random.choice(list(estado_cidade.keys()))
        cidade = random.choice(estado_cidade[uf])
        vendas.append((nrpedido, codcliente, cliente, qtd, produto, custo, valor_venda, uf, cidade, data))

    return vendas

In [208]:
gerardados(nome_cliente, estado_cidade, produtos)

[(1,
  57,
  'Luísa',
  43,
  'Notebook',
  18.96680128624838,
  2143.982284514297,
  'CE',
  'Fortaleza',
  datetime.date(2022, 8, 23)),
 (2,
  76,
  'Valentina',
  61,
  'Monitor',
  74.08115228556579,
  30056.32342262249,
  'MT',
  'Cuiabá',
  datetime.date(2021, 12, 5)),
 (3,
  58,
  'Felipe',
  64,
  'Smartwatch',
  27.57245485136588,
  3341.997167513654,
  'MA',
  'Timon',
  datetime.date(2024, 8, 31)),
 (4,
  93,
  'Helena',
  19,
  'Tablet',
  94.4196016642828,
  11499.782674277707,
  'GO',
  'Aparecida de Goiânia',
  datetime.date(2023, 8, 22)),
 (5,
  96,
  'Patrícia',
  14,
  'Câmera',
  6.569368979014128,
  619.0094207181278,
  'AC',
  'Sena Madureira',
  datetime.date(2020, 7, 18)),
 (6,
  34,
  'Leonardo',
  70,
  'Caixa de Som',
  39.86427361712362,
  4627.482635417527,
  'AC',
  'Rio Branco',
  datetime.date(2023, 2, 23)),
 (7,
  3,
  'Natália',
  10,
  'Notebook',
  70.8483726612815,
  2641.2308870919505,
  'AM',
  'Itacoatiara',
  datetime.date(2024, 10, 31)),
 (8,
  27,
  'Diego',
  32,
  'Notebook',
  52.23537611634609,
  2908.79643546503,
  'ES',
  'Serra',
  datetime.date(2024, 2, 20)),
 (9,
  5,
  'Benjamin',
  85,
  'Impressora',
  50.061699295456506,
  29192.112073828714,
  'GO',
  'Aparecida de Goiânia',
  datetime.date(2024, 8, 23)),
 (10,
  80,
  'André',
  60,
  'Fone de Ouvido',
  29.941975484238696,
  2951.279374547123,
  'CE',
  'Juazeiro do Norte',
  datetime.date(2022, 1, 10)),
 (11,
  31,
  'Cecília',
  21,
  'Câmera',
  81.96529692502403,
  13332.035144289162,
  'RO',
  'Ji-Paraná',
  datetime.date(2021, 12, 26)),
 (12,
  53,
  'Jorge',
  88,
  'Smartwatch',
  81.00409463248918,
  42612.33752062346,
  'RR',
  'Boa Vista',
  datetime.date(2021, 1, 19)),
 (13,
  59,
  'Davi',
  55,
  'Monitor',
  49.2274922392109,
  12233.21489370637,
  'AC',
  'Sena Madureira',
  datetime.date(2020, 9, 1)),
 (14,
  13,
  'Eduardo',
  38,
  'Caixa de Som',
  79.1471164108435,
  21693.71916872485,
  'CE',
  'Juazeiro do Norte',
  datetime.date(2020, 2, 15)),
 (15,
  96,
  'Camila',
  2,
  'Câmera',
  11.797654848260734,
  185.6902231644434,
  'MG',
  'Uberlândia',
  datetime.date(2022, 10, 20)),
 (16,
  7,
  'Theo',
  7,
  'Roteador',
  35.203425982269856,
  1003.527556358553,
  'SE',
  'Lagarto',
  datetime.date(2024, 3, 20)),
 (17,
  34,
  'Laura',
  9,
  'Caixa de Som',
  69.50857974259226,
  2235.3199259972093,
  'MT',
  'Várzea Grande',
  datetime.date(2025, 1, 10)),
 (18,
  9,
  'Beatriz',
  37,
  'Fone de Ouvido',
  74.30010104091122,
  8810.391717353195,
  'RR',
  'Boa Vista',
  datetime.date(2022, 8, 21)),
 (19,
  79,
  'Davi',
  8,
  'Fone de Ouvido',
  55.97689471965749,
  2912.859315958041,
  'MT',
  'Várzea Grande',
  datetime.date(2023, 7, 5)),
 (20,
  52,
  'Júlia',
  87,
  'Impressora',
  98.98311565593104,
  36273.90264695156,
  'RO',
  'Ariquemes',
  datetime.date(2023, 11, 3)),
 (21,
  89,
  'Sofia',
  98,
  'Notebook',
  37.12630354337119,
  11843.55274032711,
  'PA',
  'Belém',
  datetime.date(2025, 2, 2)),
 (22,
  32,
  'Miguel',
  43,
  'Câmera',
  28.760188202687516,
  6775.018075158299,
  'BA',
  'Feira de Santana',
  datetime.date(2024, 11, 29)),
 (23,
  25,
  'Levi',
  35,
  'Caixa de Som',
  25.647626615771724,
  3438.349884756997,
  'AM',
  'Itacoatiara',
  datetime.date(2023, 11, 14)),
 (24,
  67,
  'Nathan',
  96,
  'Tablet',
  58.87992369853319,
  38706.845851327,
  'MA',
  'São Luís',
  datetime.date(2022, 11, 15)),
 (25,
  68,
  'Vinícius',
  10,
  'Roteador',
  44.086899603629156,
  1296.3891245212544,
  'AM',
  'Manaus',
  datetime.date(2021, 1, 15)),
 (26,
  51,
  'Alice',
  12,
  'Monitor',
  82.1515970072034,
  7243.917396139876,
  'PB',
  'João Pessoa',
  datetime.date(2021, 12, 25)),
 (27,
  74,
  'João',
  32,
  'Impressora',
  77.85131757277475,
  15972.612149594972,
  'RR',
  'Caracaraí',
  datetime.date(2023, 8, 23)),
 (28,
  11,
  'Nathan',
  18,
  'Caixa de Som',
  41.233007441336916,
  3157.547851373556,
  'GO',
  'Goiânia',
  datetime.date(2022, 10, 31)),
 (29,
  86,
  'Letícia',
  64,
  'Smartwatch',
  44.693734482497334,
  21098.041402278835,
  'PA',
  'Belém',
  datetime.date(2021, 3, 16)),
 (30,
  61,
  'Pedro',
  68,
  'Smartwatch',
  83.94246681282522,
  26142.62394804603,
  'MA',
  'Imperatriz',
  datetime.date(2024, 1, 29)),
 (31,
  7,
  'Isadora',
  83,
  'Impressora',
  94.93844747518229,
  61639.457308075995,
  'SP',
  'Campinas',
  datetime.date(2023, 1, 4)),
 (32,
  38,
  'Lívia',
  65,
  'Impressora',
  70.39892969057793,
  13335.1748035989,
  'MS',
  'Dourados',
  datetime.date(2022, 11, 3)),
 (33,
  21,
  'Isadora',
  72,
  'Caixa de Som',
  2.282576174402763,
  490.60284147424807,
  'TO',
  'Araguaína',
  datetime.date(2023, 2, 1)),
 (34,
  97,
  'Renata',
  91,
  'Fone de Ouvido',
  45.686443534834176,
  30086.088326370253,
  'AM',
  'Manaus',
  datetime.date(2024, 6, 24)),
 (35,
  35,
  'Bruno',
  55,
  'Tablet',
  1.2935434653527382,
  245.29807647325,
  'MG',
  'Contagem',
  datetime.date(2022, 11, 23)),
 (36,
  18,
  'Sabrina',
  68,
  'Smartphone',
  71.70673442814503,
  22063.382144355022,
  'GO',
  'Goiânia',
  datetime.date(2022, 9, 29)),
 (37,
  14,
  'Carolina',
  69,
  'Caixa de Som',
  36.5647510100184,
  8934.997943709888,
  'AL',
  'Arapiraca',
  datetime.date(2020, 12, 24)),
 (38,
  9,
  'André',
  92,
  'Monitor',
  18.946969511792123,
  8313.65928151626,
  'BA',
  'Vitória da Conquista',
  datetime.date(2023, 4, 9)),
 (39,
  22,
  'João',
  24,
  'Monitor',
  18.62671288257196,
  2772.730787700922,
  'TO',
  'Araguaína',
  datetime.date(2022, 9, 9)),
 (40,
  60,
  'Evelyn',
  66,
  'Monitor',
  96.55921277152648,
  28016.522263896073,
  'DF',
  'Brasília',
  datetime.date(2023, 7, 2)),
 (41,
  58,
  'Gabriela',
  15,
  'Notebook',
  14.860854693163493,
  1497.229610534494,
  'RS',
  'Caxias do Sul',
  datetime.date(2023, 4, 21)),
 (42,
  71,
  'João',
  65,
  'Roteador',
  62.67666134557117,
  25766.79769021792,
  'RS',
  'Pelotas',
  datetime.date(2020, 11, 18)),
 (43,
  94,
  'Gabriela',
  29,
  'Smartwatch',
  66.04679139686719,
  11258.875269634673,
  'RO',
  'Ariquemes',
  datetime.date(2020, 9, 9)),
 (44,
  15,
  'Samuel',
  88,
  'Roteador',
  99.54481245795638,
  31776.507921738288,
  'PB',
  'Santa Rita',
  datetime.date(2022, 4, 7)),
 (45,
  5,
  'Bruno',
  98,
  'Impressora',
  82.28254867682931,
  26110.512089812084,
  'PA',
  'Belém',
  datetime.date(2020, 5, 14)),
 (46,
  86,
  'Rodrigo',
  13,
  'Smartwatch',
  29.50714324660297,
  1301.1571713990152,
  'PI',
  'Picos',
  datetime.date(2021, 10, 23)),
 (47,
  99,
  'Alice',
  84,
  'Caixa de Som',
  12.456530656270154,
  5334.470998670722,
  'PA',
  'Belém',
  datetime.date(2023, 1, 14)),
 (48,
  9,
  'Elisa',
  10,
  'Fone de Ouvido',
  45.03333474252663,
  3577.354836793759,
  'TO',
  'Palmas',
  datetime.date(2023, 8, 22)),
 (49,
  17,
  'Nathan',
  35,
  'Smartphone',
  11.511047708512994,
  2078.095991471553,
  'MA',
  'Imperatriz',
  datetime.date(2021, 10, 24)),
 (50,
  53,
  'Juliana',
  100,
  'Notebook',
  96.56831976813189,
  48303.33173512948,
  'DF',
  'Brasília',
  datetime.date(2024, 9, 22)),
 (51,
  70,
  'Amanda',
  93,
  'Monitor',
  73.01491253248217,
  37066.520776096244,
  'MG',
  'Belo Horizonte',
  datetime.date(2020, 5, 2)),
 (52,
  7,
  'Otávio',
  96,
  'Smartphone',
  43.313482855531866,
  23092.456753836414,
  'SE',
  'Aracaju',
  datetime.date(2023, 11, 15)),
 (53,
  36,
  'Luísa',
  12,
  'Câmera',
  2.9524560487105007,
  91.85460397658271,
  'RS',
  'Pelotas',
  datetime.date(2021, 10, 1)),
 (54,
  68,
  'Leonardo',
  25,
  'Notebook',
  16.080397190934168,
  1925.1822756724266,
  'PA',
  'Santarém',
  datetime.date(2022, 10, 3)),
 (55,
  54,
  'Thiago',
  38,
  'Impressora',
  48.989619749955615,
  4426.284309280347,
  'PB',
  'Santa Rita',
  datetime.date(2022, 12, 20)),
 (56,
  42,
  'Rafael',
  14,
  'Tablet',
  53.02027617168456,
  2038.1680583632426,
  'RO',
  'Ariquemes',
  datetime.date(2023, 3, 12)),
 (57,
  63,
  'Rafael',
  67,
  'Fone de Ouvido',
  13.392727196653103,
  5349.801818850176,
  'RN',
  'Parnamirim',
  datetime.date(2020, 5, 13)),
 (58,
  45,
  'Pedro',
  81,
  'Impressora',
  53.0381288570786,
  33459.39634391482,
  'PI',
  'Parnaíba',
  datetime.date(2024, 12, 6)),
 (59,
  44,
  'Samuel',
  6,
  'Smartphone',
  8.485684211134657,
  115.77385254099923,
  'RR',
  'Rorainópolis',
  datetime.date(2024, 5, 10)),
 (60,
  64,
  'Igor',
  1,
  'Câmera',
  28.865386946847998,
  53.79084845939263,
  'RO',
  'Ji-Paraná',
  datetime.date(2021, 4, 27)),
 (61,
  33,
  'Rafaela',
  69,
  'Caixa de Som',
  10.946714028503347,
  5586.903795424705,
  'AC',
  'Rio Branco',
  datetime.date(2022, 7, 15)),
 (62,
  32,
  'Jorge',
  67,
  'Impressora',
  32.10488691905316,
  12621.567561876089,
  'MT',
  'Cuiabá',
  datetime.date(2021, 1, 19)),
 (63,
  63,
  'Luísa',
  13,
  'Impressora',
  80.43359960016873,
  4335.856461308187,
  'GO',
  'Anápolis',
  datetime.date(2022, 5, 18)),
 (64,
  91,
  'Ana',
  2,
  'Caixa de Som',
  97.87133432814201,
  1483.381476835652,
  'SP',
  'Campinas',
  datetime.date(2024, 1, 29)),
 (65,
  74,
  'Murilo',
  72,
  'Câmera',
  66.97732158643943,
  12493.017593567496,
  'RN',
  'Natal',
  datetime.date(2021, 11, 14)),
 (66,
  74,
  'Renata',
  96,
  'Smartwatch',
  47.455407828573684,
  8205.916031199378,
  'AC',
  'Sena Madureira',
  datetime.date(2023, 1, 3)),
 (67,
  85,
  'Tomás',
  25,
  'Caixa de Som',
  51.54934747892535,
  4986.1099737362165,
  'RJ',
  'Duque de Caxias',
  datetime.date(2022, 1, 5)),
 (68,
  36,
  'Igor',
  69,
  'Caixa de Som',
  74.6205396330088,
  14567.457424592749,
  'ES',
  'Vila Velha',
  datetime.date(2024, 6, 7)),
 (69,
  3,
  'Theo',
  37,
  'Tablet',
  71.69604436996384,
  20626.017764252472,
  'ES',
  'Vila Velha',
  datetime.date(2023, 7, 24)),
 (70,
  93,
  'Marina',
  4,
  'Câmera',
  1.5898466818089805,
  40.396814995927656,
  'TO',
  'Araguaína',
  datetime.date(2022, 2, 17)),
 (71,
  60,
  'Clara',
  71,
  'Notebook',
  16.330603779541114,
  3500.194591078804,
  'SE',
  'Nossa Senhora do Socorro',
  datetime.date(2022, 10, 4)),
 (72,
  78,
  'Daniel',
  14,
  'Notebook',
  41.48749812746274,
  2180.497707651106,
  'PA',
  'Ananindeua',
  datetime.date(2024, 12, 22)),
 (73,
  23,
  'Murilo',
  29,
  'Roteador',
  51.69387824494255,
  4495.659963894734,
  'DF',
  'Brasília',
  datetime.date(2021, 1, 4)),
 (74,
  38,
  'Benjamin',
  49,
  'Impressora',
  34.35799333786641,
  6858.451246788833,
  'PA',
  'Santarém',
  datetime.date(2021, 4, 27)),
 (75,
  34,
  'Guilherme',
  78,
  'Caixa de Som',
  82.38198499406028,
  36244.044910467404,
  'AL',
  'Palmeira dos Índios',
  datetime.date(2020, 4, 22)),
 (76,
  22,
  'Tainá',
  33,
  'Smartphone',
  6.270754583575817,
  1528.3609689731968,
  'AP',
  'Laranjal do Jari',
  datetime.date(2022, 7, 30)),
 (77,
  81,
  'Eduardo',
  74,
  'Monitor',
  91.77975080755557,
  35618.46932354787,
  'RJ',
  'Rio de Janeiro',
  datetime.date(2023, 12, 21)),
 (78,
  90,
  'Larissa',
  38,
  'Câmera',
  66.64229539123238,
  12463.179365103757,
  'AC',
  'Sena Madureira',
  datetime.date(2024, 7, 6)),
 (79,
  95,
  'Levi',
  98,
  'Notebook',
  41.83250785087986,
  26281.760054370494,
  'GO',
  'Goiânia',
  datetime.date(2022, 11, 13)),
 (80,
  99,
  'Vicente',
  9,
  'Notebook',
  82.16220684089323,
  2633.985266496775,
  'PB',
  'João Pessoa',
  datetime.date(2021, 7, 26)),
 (81,
  22,
  'Letícia',
  50,
  'Monitor',
  1.8647819671771462,
  542.449875068955,
  'MG',
  'Contagem',
  datetime.date(2020, 5, 26)),
 (82,
  82,
  'Tomás',
  14,
  'Tablet',
  7.855201443642285,
  678.0616191735224,
  'RO',
  'Ariquemes',
  datetime.date(2022, 4, 14)),
 (83,
  10,
  'Vicente',
  54,
  'Smartphone',
  31.047982031868905,
  10736.724384843803,
  'DF',
  'Brasília',
  datetime.date(2023, 12, 23)),
 (84,
  60,
  'Alex',
  100,
  'Caixa de Som',
  98.47800286927888,
  24064.552451424028,
  'MA',
  'Imperatriz',
  datetime.date(2020, 11, 17)),
 (85,
  86,
  'Felipe',
  77,
  'Caixa de Som',
  64.4796502460622,
  35689.929587203536,
  'RS',
  'Caxias do Sul',
  datetime.date(2022, 2, 7)),
 (86,
  12,
  'Marina',
  100,
  'Monitor',
  20.676539854193244,
  6287.3698319833475,
  'AP',
  'Santana',
  datetime.date(2021, 3, 19)),
 (87,
  32,
  'Sabrina',
  76,
  'Notebook',
  32.328204740828454,
  9722.039015324772,
  'AM',
  'Itacoatiara',
  datetime.date(2023, 10, 9)),
 (88,
  82,
  'Nathan',
  97,
  'Fone de Ouvido',
  25.26253020627624,
  16100.825471695116,
  'ES',
  'Vitória',
  datetime.date(2023, 1, 30)),
 (89,
  76,
  'Camila',
  2,
  'Smartwatch',
  2.512743566157721,
  38.75419550396702,
  'MT',
  'Várzea Grande',
  datetime.date(2024, 1, 21)),
 (90,
  69,
  'Lorena',
  53,
  'Impressora',
  4.590039987904181,
  1150.6410076821803,
  'DF',
  'Brasília',
  datetime.date(2022, 10, 10)),
 (91,
  7,
  'Enzo',
  16,
  'Roteador',
  53.31631638998082,
  6334.056337666449,
  'MT',
  'Várzea Grande',
  datetime.date(2020, 7, 11)),
 (92,
  100,
  'Daniel',
  75,
  'Monitor',
  97.01702349455952,
  43761.25513254166,
  'RR',
  'Caracaraí',
  datetime.date(2021, 9, 16)),
 (93,
  55,
  'Lucas',
  69,
  'Smartwatch',
  94.3859659744704,
  35095.164555877884,
  'GO',
  'Anápolis',
  datetime.date(2021, 5, 8)),
 (94,
  89,
  'Rodrigo',
  7,
  'Roteador',
  85.6196965916708,
  4111.020342605651,
  'SE',
  'Lagarto',
  datetime.date(2020, 11, 12)),
 (95,
  79,
  'Cristiano',
  75,
  'Roteador',
  48.03278678898461,
  15481.973004213269,
  'AC',
  'Rio Branco',
  datetime.date(2020, 6, 3)),
 (96,
  26,
  'Gabriel',
  15,
  'Impressora',
  23.01436889528991,
  2568.863874853071,
  'MA',
  'Timon',
  datetime.date(2022, 9, 18)),
 (97,
  63,
  'Bruno',
  25,
  'Impressora',
  4.052457489356172,
  409.390703885161,
  'CE',
  'Juazeiro do Norte',
  datetime.date(2022, 2, 6)),
 (98,
  6,
  'Levi',
  97,
  'Fone de Ouvido',
  69.66575013532189,
  13847.258430036103,
  'MT',
  'Várzea Grande',
  datetime.date(2023, 7, 8)),
 (99,
  61,
  'Heitor',
  14,
  'Fone de Ouvido',
  74.2048620445282,
  6647.115942681417,
  'AM',
  'Itacoatiara',
  datetime.date(2020, 6, 12)),
 (100,
  64,
  'Larissa',
  71,
  'Notebook',
  80.02220450059372,
  34373.921521835226,
  'PI',
  'Picos',
  datetime.date(2022, 5, 3))]

In [209]:
spark = SparkSession.builder.appName(name="ecommerce").getOrCreate()

In [210]:
# Definindo o schema

schema = StructType([
    StructField("nrPedido", IntegerType(), True),
    StructField("codCliente", IntegerType(), True),
    StructField("cliente", StringType(), True),
    StructField("qtd", IntegerType(), True),
    StructField("produto", StringType(), True),
    StructField("custo", FloatType(), True),
    StructField("valorVenda", FloatType(), True),
    StructField("uf", StringType(), True),
    StructField("cidade", StringType(), True),
    StructField("data", DateType(), True),
    
])

In [211]:
# Gerando dados fictícios de clientes para o DF
dados_vendas = gerardados(nome_cliente, estado_cidade, produtos)

In [212]:
# Atribuindo os dados ao df
df = spark.createDataFrame(dados_vendas, schema)

In [213]:
# Prévia dos dados.
df.limit(10).show(truncate = False)

+--------+----------+--------+---+------------+---------+----------+---+----------------+----------+
|nrPedido|codCliente|cliente |qtd|produto     |custo    |valorVenda|uf |cidade          |data      |
+--------+----------+--------+---+------------+---------+----------+---+----------------+----------+
|1       |71        |Larissa |3  |Caixa de Som|49.61776 |919.846   |AP |Macapá          |2023-11-11|
|2       |50        |Emerson |85 |Smartwatch  |74.33104 |18723.934 |MT |Rondonópolis    |2023-04-09|
|3       |82        |André   |65 |Monitor     |2.3578048|290.22488 |BA |Feira de Santana|2021-04-20|
|4       |96        |Rafael  |45 |Tablet      |46.580627|11482.682 |AL |Arapiraca       |2022-08-11|
|5       |49        |Benjamin|92 |Monitor     |19.142847|7276.687  |AP |Santana         |2020-05-31|
|6       |2         |Enzo    |92 |Smartwatch  |95.86495 |65532.754 |RJ |Rio de Janeiro  |2021-10-12|
|7       |15        |Samuel  |55 |Monitor     |66.48225 |6067.3633 |RN |Natal           |2023-04-10|
|8       |25        |Fernanda|87 |Roteador    |57.992702|10030.904 |DF |Brasília        |2023-01-18|
|9       |21        |Davi    |63 |Notebook    |7.216984 |3041.6719 |TO |Araguaína       |2021-11-27|
|10      |91        |Eduardo |54 |Notebook    |37.91863 |12007.472 |PB |João Pessoa     |2022-12-06|
+--------+----------+--------+---+------------+---------+----------+---+----------------+----------+

In [214]:
# Identificando o schema
df.printSchema()

root
 |-- nrPedido: integer (nullable = true)
 |-- codCliente: integer (nullable = true)
 |-- cliente: string (nullable = true)
 |-- qtd: integer (nullable = true)
 |-- produto: string (nullable = true)
 |-- custo: float (nullable = true)
 |-- valorVenda: float (nullable = true)
 |-- uf: string (nullable = true)
 |-- cidade: string (nullable = true)
 |-- data: date (nullable = true)

In [215]:
# Identificando o número total de linhas
df.count()

100

In [216]:
# Estados que tiveram apenas uma venda, e qual produto foi vendido
df.filter(df.qtd == 1).select(df.uf, df.produto).show()

+---+-------+
| uf|produto|
+---+-------+
| AL| Tablet|
+---+-------+

In [217]:
df.select(F.round(F.avg(F.col("valorVenda")), 2).alias("MediaVendas")).show()

+-----------+
|MediaVendas|
+-----------+
|   12811.14|
+-----------+

In [218]:
## Forma alternativa para obter a média (complexa)

# Média de vendas
df_media_vendas = df.agg({"valorVenda": "avg"})

# Imprimindo e renomeando a coluna com o cálculo médio para melhor compreensão.
df_media_vendas = df_media_vendas.withColumnRenamed("avg(valorVenda)", "MediaVendas")

df_media_vendas.select(F.round(df_media_vendas.MediaVendas,2).alias("MediaVendas")).show()

+-----------+
|MediaVendas|
+-----------+
|   12811.14|
+-----------+

In [219]:
# Produto mais vendido
#df.select(F.max("qtd")).show()
#df.orderBy(F.desc("qtd")).select("produto", "qtd").limit(1).show()
df_qtd_max = df.groupBy("produto").max("qtd").alias("total")
df_qtd_max.orderBy(F.desc("max(qtd)")).limit(3).show()

+------------+--------+
|     produto|max(qtd)|
+------------+--------+
|Caixa de Som|     100|
|    Notebook|      97|
|    Roteador|      96|
+------------+--------+

In [220]:
df.groupBy("produto").sum("valorVenda").show()

+--------------+------------------+
|       produto|   sum(valorVenda)|
+--------------+------------------+
|  Caixa de Som| 116278.4372253418|
|    Smartwatch|176849.73986816406|
|      Roteador|  184038.845703125|
|        Câmera|141480.62438964844|
|      Notebook|124984.16827392578|
|        Tablet|137908.22158813477|
|       Monitor|198424.85537719727|
|    Impressora| 70512.57229614258|
|Fone de Ouvido|127928.17422485352|
|    Smartphone|2708.8150634765625|
+--------------+------------------+

In [221]:
df2 = (
    df.groupBy("Produto")
    .sum("valorVenda")
    .show(n=10)     
)

+--------------+------------------+
|       Produto|   sum(valorVenda)|
+--------------+------------------+
|  Caixa de Som| 116278.4372253418|
|    Smartwatch|176849.73986816406|
|      Roteador|  184038.845703125|
|        Câmera|141480.62438964844|
|      Notebook|124984.16827392578|
|        Tablet|137908.22158813477|
|       Monitor|198424.85537719727|
|    Impressora| 70512.57229614258|
|Fone de Ouvido|127928.17422485352|
|    Smartphone|2708.8150634765625|
+--------------+------------------+

In [222]:
dfduplicados = (
    df.groupBy(df.produto)
    .count()
    .filter(col("count") > 1)
    .sort("count", ascending=False)
    .limit(10)
    .show()
)

+--------------+-----+
|       produto|count|
+--------------+-----+
|       Monitor|   14|
|Fone de Ouvido|   13|
|      Roteador|   12|
|      Notebook|   12|
|        Tablet|   12|
|    Impressora|   12|
|    Smartwatch|    9|
|  Caixa de Som|    7|
|        Câmera|    7|
|    Smartphone|    2|
+--------------+-----+

In [223]:
# Dropando dados duplicados
df.dropDuplicates().show(10)

+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|          cidade|      data|
+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+
|      21|        11|Henrique| 22|      Notebook| 95.40529|  8540.517| MG|      Uberlândia|2024-09-09|
|      10|        91| Eduardo| 54|      Notebook| 37.91863| 12007.472| PB|     João Pessoa|2022-12-06|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC|      Rio Branco|2023-11-27|
|      16|        45| Vitória| 66|    Impressora|19.715511|  9822.038| SC|   Florianópolis|2023-02-15|
|      14|        15|    Enzo| 86|    Smartwatch| 68.67941| 24140.787| RO|       Ariquemes|2024-12-26|
|      23|        71|    Caio| 69|      Notebook| 46.51473| 25181.885| BA|Feira de Santana|2022-12-02|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|         Santana|2020-05-31|
|       7|        15|  Samuel| 55|       Monitor| 66.48225| 6067.3633| RN|           Natal|2023-04-10|
|       6|         2|    Enzo| 92|    Smartwatch| 95.86495| 65532.754| RJ|  Rio de Janeiro|2021-10-12|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|         Caucaia|2022-04-17|
+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+
only showing top 10 rows

In [224]:
# 5. *Custo Médio por Estado:  - Qual é o custo médio dos produtos vendidos em cada estado?
df.select(round(F.avg(col("custo")),2).alias("custoMedio")).show()

+----------+
|custoMedio|
+----------+
|     48.93|
+----------+

In [225]:
# 6. *Total de Vendas por Cliente: Qual é o total de vendas (valor de venda) por cliente?

df_total_por_clientes = (
    df
    .groupBy("cliente")
    .agg(F.round(F.sum("valorVenda"),2).alias("totalPorCliente"))
    .withColumnRenamed("sum(valorVenda)", "totalPorCliente")
    .show(10)
)

+--------+---------------+
| cliente|totalPorCliente|
+--------+---------------+
|   Tomás|        64452.1|
|Henrique|        8540.52|
|   André|       31827.62|
|    Igor|         329.66|
|Benjamin|        7276.69|
|Gabriela|       28398.94|
|   Lívia|        5975.62|
|    Alex|       17785.22|
|    Caio|       25181.88|
| Emerson|       46753.63|
+--------+---------------+
only showing top 10 rows

In [226]:
# 7. Data Mais Recente e Mais Antiga: Qual é a data mais recente e a mais antiga registrada nos dados?
df_antigo_recente = (
    df
    .select(min(df.data)
    .alias("antigo"),
    max(df.data)
    .alias("recente"))
    .show()
)

+----------+----------+
|    antigo|   recente|
+----------+----------+
|2020-03-23|2025-01-25|
+----------+----------+

In [227]:
# 8. *Quantidade de Vendas por Dia: Quantas vendas ocorreram em cada dia?
df_total_diario = (
    df
    .groupBy(date_format("data", "dd/MM/yyyy").alias("data"))
    .agg(round(sum("valorVenda"),2)
    .alias("TotalVendaDiaria"))
    .limit(10)
    .show()
)

+----------+----------------+
|      data|TotalVendaDiaria|
+----------+----------------+
|09/04/2023|        18723.93|
|15/02/2023|         9822.04|
|07/04/2021|          329.66|
|17/10/2020|         15516.1|
|09/09/2024|         8540.52|
|11/11/2023|          919.85|
|09/01/2025|        24707.56|
|10/04/2023|         6067.36|
|02/12/2022|        25181.88|
|26/12/2024|        24140.79|
+----------+----------------+

In [228]:
# 9. *Custo Médio e Valor de Venda Médio por Produto: Qual é o custo médio e o valor de venda médio para cada produto?
df_custoMedio_vendaMedia = (
    df.groupBy("produto")    
    .agg(round(avg("custo"),2)    
    .alias("custoMedio"),
    round(avg("valorVenda"))
    .alias("receitaMedia"))
    .limit(10)
    .show()
)

+--------------+----------+------------+
|       produto|custoMedio|receitaMedia|
+--------------+----------+------------+
|  Caixa de Som|     35.94|     16611.0|
|    Smartwatch|     52.66|     19650.0|
|      Roteador|     52.68|     15337.0|
|        Câmera|     75.98|     20212.0|
|      Notebook|     43.41|     10415.0|
|        Tablet|     51.33|     11492.0|
|       Monitor|     51.93|     14173.0|
|    Impressora|     35.45|      5876.0|
|Fone de Ouvido|      53.1|      9841.0|
|    Smartphone|      12.1|      1354.0|
+--------------+----------+------------+

In [229]:
# 10. *Porcentagem de Lucro: Qual é a porcentagem média de lucro (baseado no custo e valor de venda) em todas as vendas?
custo_venda = df.withColumn("custoTotal", (df.qtd * df.custo))
custo_venda.show()

+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|custoTotal|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
|       1|        71| Larissa|  3|  Caixa de Som| 49.61776|   919.846| AP|              Macapá|2023-11-11| 148.85327|
|       2|        50| Emerson| 85|    Smartwatch| 74.33104| 18723.934| MT|        Rondonópolis|2023-04-09|  6318.138|
|       3|        82|   André| 65|       Monitor|2.3578048| 290.22488| BA|    Feira de Santana|2021-04-20| 153.25731|
|       4|        96|  Rafael| 45|        Tablet|46.580627| 11482.682| AL|           Arapiraca|2022-08-11| 2096.1282|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|             Santana|2020-05-31|  1761.142|
|       6|         2|    Enzo| 92|    Smartwatch| 95.86495| 65532.754| RJ|      Rio de Janeiro|2021-10-12|  8819.575|
|       7|        15|  Samuel| 55|       Monitor| 66.48225| 6067.3633| RN|               Natal|2023-04-10| 3656.5234|
|       8|        25|Fernanda| 87|      Roteador|57.992702| 10030.904| DF|            Brasília|2023-01-18|  5045.365|
|       9|        21|    Davi| 63|      Notebook| 7.216984| 3041.6719| TO|           Araguaína|2021-11-27| 454.66998|
|      10|        91| Eduardo| 54|      Notebook| 37.91863| 12007.472| PB|         João Pessoa|2022-12-06|  2047.606|
|      11|        50| Vicente| 73|        Tablet|29.263187| 14506.758| AP|             Santana|2021-01-26| 2136.2126|
|      12|        89|   Lívia| 82|       Monitor|13.259769|  5975.624| ES|          Vila Velha|2024-05-08| 1087.3011|
|      13|        38|  Lorena| 58|Fone de Ouvido|4.1151996|  995.1176| PE|Jaboatão dos Guar...|2021-03-16| 238.68158|
|      14|        15|    Enzo| 86|    Smartwatch| 68.67941| 24140.787| RO|           Ariquemes|2024-12-26| 5906.4297|
|      15|        60|  Samuel| 92|Fone de Ouvido|43.333103| 20126.434| MA|            São Luís|2020-09-16| 3986.6455|
|      16|        45| Vitória| 66|    Impressora|19.715511|  9822.038| SC|       Florianópolis|2023-02-15| 1301.2238|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC|          Rio Branco|2023-11-27|  4597.555|
|      18|        49|   Elisa| 68|      Roteador|40.954247| 15516.104| RS|       Caxias do Sul|2020-10-17| 2784.8887|
|      19|        21|   Luísa| 89|    Smartwatch| 38.11757| 24707.559| MT|        Rondonópolis|2025-01-09| 3392.4636|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|             Caucaia|2022-04-17| 680.19446|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
only showing top 20 rows

In [230]:
lucro_percentual = custo_venda.withColumn("lucroPercentual", round((custo_venda.custoTotal * custo_venda.valorVenda) / 100))
lucro_percentual.show()

+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+---------------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|custoTotal|lucroPercentual|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+---------------+
|       1|        71| Larissa|  3|  Caixa de Som| 49.61776|   919.846| AP|              Macapá|2023-11-11| 148.85327|         1369.0|
|       2|        50| Emerson| 85|    Smartwatch| 74.33104| 18723.934| MT|        Rondonópolis|2023-04-09|  6318.138|      1183004.0|
|       3|        82|   André| 65|       Monitor|2.3578048| 290.22488| BA|    Feira de Santana|2021-04-20| 153.25731|          445.0|
|       4|        96|  Rafael| 45|        Tablet|46.580627| 11482.682| AL|           Arapiraca|2022-08-11| 2096.1282|       240692.0|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|             Santana|2020-05-31|  1761.142|       128153.0|
|       6|         2|    Enzo| 92|    Smartwatch| 95.86495| 65532.754| RJ|      Rio de Janeiro|2021-10-12|  8819.575|      5779711.0|
|       7|        15|  Samuel| 55|       Monitor| 66.48225| 6067.3633| RN|               Natal|2023-04-10| 3656.5234|       221855.0|
|       8|        25|Fernanda| 87|      Roteador|57.992702| 10030.904| DF|            Brasília|2023-01-18|  5045.365|       506096.0|
|       9|        21|    Davi| 63|      Notebook| 7.216984| 3041.6719| TO|           Araguaína|2021-11-27| 454.66998|        13830.0|
|      10|        91| Eduardo| 54|      Notebook| 37.91863| 12007.472| PB|         João Pessoa|2022-12-06|  2047.606|       245866.0|
|      11|        50| Vicente| 73|        Tablet|29.263187| 14506.758| AP|             Santana|2021-01-26| 2136.2126|       309895.0|
|      12|        89|   Lívia| 82|       Monitor|13.259769|  5975.624| ES|          Vila Velha|2024-05-08| 1087.3011|        64973.0|
|      13|        38|  Lorena| 58|Fone de Ouvido|4.1151996|  995.1176| PE|Jaboatão dos Guar...|2021-03-16| 238.68158|         2375.0|
|      14|        15|    Enzo| 86|    Smartwatch| 68.67941| 24140.787| RO|           Ariquemes|2024-12-26| 5906.4297|      1425859.0|
|      15|        60|  Samuel| 92|Fone de Ouvido|43.333103| 20126.434| MA|            São Luís|2020-09-16| 3986.6455|       802370.0|
|      16|        45| Vitória| 66|    Impressora|19.715511|  9822.038| SC|       Florianópolis|2023-02-15| 1301.2238|       127807.0|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC|          Rio Branco|2023-11-27|  4597.555|       817686.0|
|      18|        49|   Elisa| 68|      Roteador|40.954247| 15516.104| RS|       Caxias do Sul|2020-10-17| 2784.8887|       432106.0|
|      19|        21|   Luísa| 89|    Smartwatch| 38.11757| 24707.559| MT|        Rondonópolis|2025-01-09| 3392.4636|       838195.0|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|             Caucaia|2022-04-17| 680.19446|        19968.0|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+---------------+
only showing top 20 rows

# Trabalhando com datas

In [231]:
#11) Data Mais Recente e Mais Antiga: Objetivo: Descobrir qual é a data mais recente e a mais antiga registrada nos dados.

data_recente_antiga = (
    df.select(
        F.max(date_format(df.data, "dd/MM/yyyy"))
        .alias("dataAntiga"), 
        F.min(date_format("data", "dd/MM/yyyy"))
        .alias("dataRecente"))
)

data_recente_antiga.show()

+----------+-----------+
|dataAntiga|dataRecente|
+----------+-----------+
|31/10/2024| 01/04/2022|
+----------+-----------+

In [232]:
df.select(F.min(df.data).alias("dataAntiga")).show()

+----------+
|dataAntiga|
+----------+
|2020-03-23|
+----------+

In [233]:
# 12) Quantidade de Vendas por Dia. Objetivo: Contar quantas vendas ocorreram em cada dia.
#df.groupBy("data").agg(sum("qtd").alias("qtdDia")).show()
df_qtdDia = (
    df.groupBy("data")
    .agg(sum("qtd").alias("qtdDia"))    
    .sort("data")
)

df_qtdDia.show()

+----------+------+
|      data|qtdDia|
+----------+------+
|2020-03-23|    87|
|2020-03-25|    66|
|2020-05-05|     2|
|2020-05-25|    74|
|2020-05-31|    92|
|2020-06-03|     6|
|2020-06-04|    34|
|2020-06-09|     5|
|2020-07-17|    44|
|2020-08-12|    22|
|2020-08-26|    79|
|2020-09-01|    93|
|2020-09-16|    92|
|2020-10-05|    61|
|2020-10-17|    68|
|2020-12-11|    60|
|2020-12-28|    54|
|2021-01-12|    57|
|2021-01-26|    73|
|2021-01-29|    48|
+----------+------+
only showing top 20 rows

### Adicionar Coluna com Ano e Mês. Objetivo: Adicionar uma coluna que contenha apenas o ano e o mês da data da venda.

In [234]:
# 13) Adicionar Coluna com Ano e Mês Objetivo: Adicionar uma coluna que contenha apenas o ano e o mês da data da venda.
df_ano_mes = df.withColumn("ano_mes", date_format(df.data, "yyyy-MM"))
df_ano_mes.show()

+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+-------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|ano_mes|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+-------+
|       1|        71| Larissa|  3|  Caixa de Som| 49.61776|   919.846| AP|              Macapá|2023-11-11|2023-11|
|       2|        50| Emerson| 85|    Smartwatch| 74.33104| 18723.934| MT|        Rondonópolis|2023-04-09|2023-04|
|       3|        82|   André| 65|       Monitor|2.3578048| 290.22488| BA|    Feira de Santana|2021-04-20|2021-04|
|       4|        96|  Rafael| 45|        Tablet|46.580627| 11482.682| AL|           Arapiraca|2022-08-11|2022-08|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|             Santana|2020-05-31|2020-05|
|       6|         2|    Enzo| 92|    Smartwatch| 95.86495| 65532.754| RJ|      Rio de Janeiro|2021-10-12|2021-10|
|       7|        15|  Samuel| 55|       Monitor| 66.48225| 6067.3633| RN|               Natal|2023-04-10|2023-04|
|       8|        25|Fernanda| 87|      Roteador|57.992702| 10030.904| DF|            Brasília|2023-01-18|2023-01|
|       9|        21|    Davi| 63|      Notebook| 7.216984| 3041.6719| TO|           Araguaína|2021-11-27|2021-11|
|      10|        91| Eduardo| 54|      Notebook| 37.91863| 12007.472| PB|         João Pessoa|2022-12-06|2022-12|
|      11|        50| Vicente| 73|        Tablet|29.263187| 14506.758| AP|             Santana|2021-01-26|2021-01|
|      12|        89|   Lívia| 82|       Monitor|13.259769|  5975.624| ES|          Vila Velha|2024-05-08|2024-05|
|      13|        38|  Lorena| 58|Fone de Ouvido|4.1151996|  995.1176| PE|Jaboatão dos Guar...|2021-03-16|2021-03|
|      14|        15|    Enzo| 86|    Smartwatch| 68.67941| 24140.787| RO|           Ariquemes|2024-12-26|2024-12|
|      15|        60|  Samuel| 92|Fone de Ouvido|43.333103| 20126.434| MA|            São Luís|2020-09-16|2020-09|
|      16|        45| Vitória| 66|    Impressora|19.715511|  9822.038| SC|       Florianópolis|2023-02-15|2023-02|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC|          Rio Branco|2023-11-27|2023-11|
|      18|        49|   Elisa| 68|      Roteador|40.954247| 15516.104| RS|       Caxias do Sul|2020-10-17|2020-10|
|      19|        21|   Luísa| 89|    Smartwatch| 38.11757| 24707.559| MT|        Rondonópolis|2025-01-09|2025-01|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|             Caucaia|2022-04-17|2022-04|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+-------+
only showing top 20 rows

In [235]:
# 14) Filtrar Vendas de um Mês Específico. Objetivo: Filtrar todas as vendas que ocorreram no mês de julho de 2024.
df.filter((year(col("data")) == 2024) & (month(col("data")) == 6)).show(10)

+--------+----------+-------+---+--------+--------+----------+---+--------------------+----------+
|nrPedido|codCliente|cliente|qtd| produto|   custo|valorVenda| uf|              cidade|      data|
+--------+----------+-------+---+--------+--------+----------+---+--------------------+----------+
|      70|        62|   Enzo| 47|Roteador|91.24266|  20565.02| GO|Aparecida de Goiânia|2024-06-25|
+--------+----------+-------+---+--------+--------+----------+---+--------------------+----------+

#### Adicionar Coluna com Dia da Semana. Objetivo: Adicionar uma coluna que mostre o dia da semana para cada data de venda.

In [236]:
# 15) Adicionar Coluna com Dia da Semana. Objetivo: Adicionar uma coluna que mostre o dia da semana para cada data de venda.
df_dia_semana = df.withColumn("dia_semana", date_format(df.data, "EEEE"))
df_dia_semana.show()

+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|              cidade|      data|dia_semana|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
|       1|        71| Larissa|  3|  Caixa de Som| 49.61776|   919.846| AP|              Macapá|2023-11-11|  Saturday|
|       2|        50| Emerson| 85|    Smartwatch| 74.33104| 18723.934| MT|        Rondonópolis|2023-04-09|    Sunday|
|       3|        82|   André| 65|       Monitor|2.3578048| 290.22488| BA|    Feira de Santana|2021-04-20|   Tuesday|
|       4|        96|  Rafael| 45|        Tablet|46.580627| 11482.682| AL|           Arapiraca|2022-08-11|  Thursday|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|             Santana|2020-05-31|    Sunday|
|       6|         2|    Enzo| 92|    Smartwatch| 95.86495| 65532.754| RJ|      Rio de Janeiro|2021-10-12|   Tuesday|
|       7|        15|  Samuel| 55|       Monitor| 66.48225| 6067.3633| RN|               Natal|2023-04-10|    Monday|
|       8|        25|Fernanda| 87|      Roteador|57.992702| 10030.904| DF|            Brasília|2023-01-18| Wednesday|
|       9|        21|    Davi| 63|      Notebook| 7.216984| 3041.6719| TO|           Araguaína|2021-11-27|  Saturday|
|      10|        91| Eduardo| 54|      Notebook| 37.91863| 12007.472| PB|         João Pessoa|2022-12-06|   Tuesday|
|      11|        50| Vicente| 73|        Tablet|29.263187| 14506.758| AP|             Santana|2021-01-26|   Tuesday|
|      12|        89|   Lívia| 82|       Monitor|13.259769|  5975.624| ES|          Vila Velha|2024-05-08| Wednesday|
|      13|        38|  Lorena| 58|Fone de Ouvido|4.1151996|  995.1176| PE|Jaboatão dos Guar...|2021-03-16|   Tuesday|
|      14|        15|    Enzo| 86|    Smartwatch| 68.67941| 24140.787| RO|           Ariquemes|2024-12-26|  Thursday|
|      15|        60|  Samuel| 92|Fone de Ouvido|43.333103| 20126.434| MA|            São Luís|2020-09-16| Wednesday|
|      16|        45| Vitória| 66|    Impressora|19.715511|  9822.038| SC|       Florianópolis|2023-02-15| Wednesday|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC|          Rio Branco|2023-11-27|    Monday|
|      18|        49|   Elisa| 68|      Roteador|40.954247| 15516.104| RS|       Caxias do Sul|2020-10-17|  Saturday|
|      19|        21|   Luísa| 89|    Smartwatch| 38.11757| 24707.559| MT|        Rondonópolis|2025-01-09|  Thursday|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|             Caucaia|2022-04-17|    Sunday|
+--------+----------+--------+---+--------------+---------+----------+---+--------------------+----------+----------+
only showing top 20 rows

In [237]:
# 16) Determinar o Dia da Semana com Mais Vendas
# Objetivo: Descobrir qual dia da semana teve o maior número de vendas totais (soma das quantidades vendidas).

df_dia_semana_total_qtd = (
    df_dia_semana
    .groupBy("dia_semana")
    .agg(sum("qtd").alias("qtd"))
    .sort("qtd", ascending=False)    
)
df_dia_semana_total_qtd.show()

+----------+---+
|dia_semana|qtd|
+----------+---+
|   Tuesday|958|
|    Monday|953|
|  Thursday|791|
|  Saturday|716|
| Wednesday|682|
|    Sunday|649|
|    Friday|564|
+----------+---+

In [238]:
# 17) Calcular a Média de Vendas por Mês:
# Objetivo: Calcular a média da quantidade de vendas realizadas em cada mês.

df_media_vendas_mes = (
    df.groupBy(month("data")
               .alias("MesCorrespondente"))
    .agg(round(F.avg("valorVenda"),2)
         .alias("TotalPorMes"))
)
df_media_vendas_mes.show()

+-----------------+-----------+
|MesCorrespondente|TotalPorMes|
+-----------------+-----------+
|               12|    9781.57|
|                1|   15017.14|
|                6|    5728.38|
|                3|   10847.68|
|                5|    11917.4|
|                9|   11404.62|
|                4|     6317.3|
|                8|   21023.27|
|                7|   20816.08|
|               10|   20047.34|
|               11|   10010.44|
|                2|    4316.79|
+-----------------+-----------+

In [239]:
#Exercício 20: Calcular a Média de Vendas por Produto em Cada Ano 
# Objetivo: Calcular a média de vendas realizadas para cada produto em cada ano. Utilize uma estrutura de repetição para iterar sobre os anos e calcular a média das vendas.

ano_venda = df.select(year(df.data).alias("ano")).distinct().sort("data").collect()

In [240]:
print(ano_venda)

[Row(ano=2020), Row(ano=2021), Row(ano=2022), Row(ano=2023), Row(ano=2024), Row(ano=2025)]

In [241]:
df_weekend = df.withColumn("dia_semana", date_format(df.data, "EEEE"))
df_weekend.filter((df_weekend.dia_semana ==  "Saturday") | (df_weekend.dia_semana == "Sunday")).show()

+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+----------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|          cidade|      data|dia_semana|
+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+----------+
|       1|        71| Larissa|  3|  Caixa de Som| 49.61776|   919.846| AP|          Macapá|2023-11-11|  Saturday|
|       2|        50| Emerson| 85|    Smartwatch| 74.33104| 18723.934| MT|    Rondonópolis|2023-04-09|    Sunday|
|       5|        49|Benjamin| 92|       Monitor|19.142847|  7276.687| AP|         Santana|2020-05-31|    Sunday|
|       9|        21|    Davi| 63|      Notebook| 7.216984| 3041.6719| TO|       Araguaína|2021-11-27|  Saturday|
|      18|        49|   Elisa| 68|      Roteador|40.954247| 15516.104| RS|   Caxias do Sul|2020-10-17|  Saturday|
|      20|        91|Gabriela| 12|        Tablet| 56.68287| 2935.6714| CE|         Caucaia|2022-04-17|    Sunday|
|      22|        62|   Tomás|  6|        Câmera|96.024826| 1615.3168| PE|          Olinda|2022-07-31|    Sunday|
|      33|        67|   Thaís| 75|        Tablet| 39.25002| 10982.033| SP|        Campinas|2024-09-07|  Saturday|
|      35|        77| Emerson| 52|    Smartwatch| 47.33451|  7309.562| AP|Laranjal do Jari|2022-06-18|  Saturday|
|      37|        25| Melissa| 25|      Notebook|  9.27573|  796.0147| RJ|         Niterói|2024-09-08|    Sunday|
|      40|        62|    Enzo| 24|    Smartwatch|11.053336| 1735.6742| MS|     Três Lagoas|2021-02-20|  Saturday|
|      42|        86| Matheus| 50|      Roteador|  73.8084| 11508.028| PI|        Parnaíba|2024-10-20|    Sunday|
|      49|        31| Vicente|  4|      Roteador|23.336704|  666.5017| MS|    Campo Grande|2021-03-06|  Saturday|
|      51|        60|   Sofia| 85|    Impressora|26.264595| 4467.6445| MS|    Campo Grande|2021-10-24|    Sunday|
|      58|        58|  Helena| 97|      Notebook|14.899192| 6502.7383| BA|        Salvador|2021-12-18|  Saturday|
|      61|        86|   Lucas| 47|    Smartwatch| 43.04927|   14717.2| AL|       Arapiraca|2021-08-28|  Saturday|
|      69|        99| Eduardo| 17|Fone de Ouvido|55.092537|   5765.65| MT|   Várzea Grande|2023-02-19|    Sunday|
|      74|        98| Juliana| 93|      Roteador|71.439026|  43146.25| RJ|  Rio de Janeiro|2021-08-07|  Saturday|
|      75|        41|Priscila| 97|      Notebook|24.162275| 12466.059| AL|          Maceió|2025-01-25|  Saturday|
|      80|        11|   Thaís|  2|      Notebook| 80.09068| 1253.0668| AL|          Maceió|2021-04-25|    Sunday|
+--------+----------+--------+---+--------------+---------+----------+---+----------------+----------+----------+
only showing top 20 rows

In [242]:
df.filter(F.col("uf") == "SP").limit(3).show()

+--------+----------+---------+---+----------+---------+----------+---+--------------------+----------+
|nrPedido|codCliente|  cliente|qtd|   produto|    custo|valorVenda| uf|              cidade|      data|
+--------+----------+---------+---+----------+---------+----------+---+--------------------+----------+
|      33|        67|    Thaís| 75|    Tablet| 39.25002| 10982.033| SP|            Campinas|2024-09-07|
|      62|        32|    Elisa| 26|    Tablet|54.482456|  5845.524| SP|São Bernardo do C...|2021-12-07|
|      68|        20|Cristiano| 58|Impressora|  68.2192| 23663.668| SP|           São Paulo|2024-07-12|
+--------+----------+---------+---+----------+---------+----------+---+--------------------+----------+

 

 

23. Produtos com Maior Faturamento  
   - Quais são os 5 produtos que geraram o maior faturamento total (`valorVenda * qtd`)?  

24. Ticket Médio por Cliente  
   - Calcule o ticket médio por cliente, considerando a soma do `valorVenda` dividida pelo número de pedidos.  

25. Comparação de Faturamento por Cidade  
   - Para cada estado, encontre a cidade com o maior faturamento total.  

26. Identificar Vendas com Prejuízo  
   - Liste todas as vendas onde o custo (`custo * qtd`) foi maior que o valor de venda (`valorVenda * qtd`).  

27. Clientes que Compraram Apenas Uma Vez  
   - Encontre os clientes que realizaram apenas um pedido no e-commerce.  

28. Produto Mais Vendido em Cada Estado  
   - Descubra qual produto teve a maior quantidade vendida em cada estado (`uf`).  

29. Crescimento Mensal do Faturamento  
   - Calcule o crescimento percentual do faturamento mês a mês.  

30. Cliente com Maior Ticket Médio  
   - Encontre o cliente que possui o maior ticket médio, considerando apenas aqueles que realizaram pelo menos 5 compras.

In [243]:
#21. Clientes com Mais Compras  
#   Identifique os 5 clientes que mais realizaram compras, considerando a quantidade total de itens (`qtd`). 

df.orderBy(F.col("qtd").desc()).limit(5).show()

+--------+----------+--------+---+--------------+---------+----------+---+-----------+----------+
|nrPedido|codCliente| cliente|qtd|       produto|    custo|valorVenda| uf|     cidade|      data|
+--------+----------+--------+---+--------------+---------+----------+---+-----------+----------+
|      29|        22|Isabella|100|  Caixa de Som| 43.05901| 24760.576| PE|     Olinda|2023-09-07|
|      58|        58|  Helena| 97|      Notebook|14.899192| 6502.7383| BA|   Salvador|2021-12-18|
|      75|        41|Priscila| 97|      Notebook|24.162275| 12466.059| AL|     Maceió|2025-01-25|
|      17|        43|    Alex| 96|Fone de Ouvido|  47.8912| 17785.225| AC| Rio Branco|2023-11-27|
|      55|        68|  Samuel| 96|      Roteador|49.107502| 20881.549| RO|Porto Velho|2023-03-24|
+--------+----------+--------+---+--------------+---------+----------+---+-----------+----------+

In [244]:
#22. Estados com Maior Receita  
# Liste os estados (`uf`) ordenados pela maior receita total (`valorVenda`). 

df.orderBy(F.col("valorVenda").desc()).limit(10).show()

+--------+----------+-------+---+------------+---------+----------+---+--------------------+----------+
|nrPedido|codCliente|cliente|qtd|     produto|    custo|valorVenda| uf|              cidade|      data|
+--------+----------+-------+---+------------+---------+----------+---+--------------------+----------+
|       6|         2|   Enzo| 92|  Smartwatch| 95.86495| 65532.754| RJ|      Rio de Janeiro|2021-10-12|
|      82|        83|  Tomás| 87|Caixa de Som| 90.55475| 62836.785| PE|Jaboatão dos Guar...|2021-08-02|
|      48|        87| Marina| 83|    Notebook| 74.38919| 45575.293| AC|     Cruzeiro do Sul|2023-05-16|
|      74|        98|Juliana| 93|    Roteador|71.439026|  43146.25| RJ|      Rio de Janeiro|2021-08-07|
|      77|        98|  Diego| 79|      Câmera|75.307274| 43100.145| MG|            Contagem|2020-08-26|
|      53|        87|  Lucas| 91|     Monitor|65.444954|  42986.73| MA|            São Luís|2023-07-31|
|      93|        63|  Bruno| 61|     Monitor| 82.57702|  35641.05| RO|         Porto Velho|2022-10-16|
|      36|        32|   Enzo| 48|      Câmera| 85.81841| 31588.832| AC|     Cruzeiro do Sul|2024-07-11|
|      63|        95| Helena| 66|      Câmera|86.132324|  30464.08| SC|            Blumenau|2020-03-25|
|      94|        47| Arthur| 93|     Monitor| 91.11542|  28568.35| AP|              Macapá|2024-10-12|
+--------+----------+-------+---+------------+---------+----------+---+--------------------+----------+